<h2 style="color: #a33540"> Здравствуйте, %username%</h2>

<p style="color: #534731">
  Подписка на Zh.Kostev's блог успешно зарегистрирована.
  Вы будете получать уведобления о новых записях в блоге, а также об обновлении старых записей.
</p>


