<h2 style="color: #a33540"> Hello, %username%</h2>

<p style="color: #534731">
  You have successfully subscribed to Zh.Kostev's blog.
  You will receive notifications about new and updated posts.
</p>
