<h2 style="color: #a33540"> Здравствуйте, %username%</h2>

<p style="color: #534731">
  В Zh.Kostev's блог была добавлена новая информация.  Вы можете ознакомится с ней пройдя по этой
  <%= link_to "ссылке", @url  %>
</p>
