<%= form_for(@subscribe) do |f| %>

    <%= form_field(f, :text_field, :email) %>

    <div style="padding: 5px 0 10px 0; line-height: 1.6em; ">
      <label>Language</label>
      <%= f.select :language, options_for_select(
              [['All languages', ''],
               ['English', 'en'],
               ['Russian','ru']]) %>
    </div>
    <%= f.submit "Save", :class => 'button' %>

<% end %>
