<tr>
  <td><%= rubric.title_ru %></td>
  <td><%= rubric.title_en %></td>
  <td>
    <%= link_to '', edit_rubric_path(rubric), :class => 'edit_link' %>
    <%= link_to '', rubric_path(rubric), :class => 'destroy_link', :method =>  :delete,
                :confirm => "Are sure you want to delete #{rubric.title_en}?" %>
  </td>
</tr>