<div id="loading_gif" style="display: none; position: absolute; background-color: transparent; z-index: 1002;">
  <img src='/image/loading_small.gif'/>
</div>

<script type="text/javascript">
    $(function () {
        $('#loading_gif').load('/loading_mult.html')
    })
</script>