<div id="system_dialog" style="display: none;"></div>

<script type="text/javascript">
    $(function () {
        $('.scroll_box').jScrollPane();
        $('#system_dialog').dialog({ modal:true, resizable:false, autoOpen:false,
            title:'<%= t(:system_dialog) %>', width:330,
            buttons:[
                {
                    text:'Ok',
                    click:function () {
                        $(this).dialog('close')
                    }
                }
            ]});
        <% if params[:system_message] %>
            $('#system_dialog').html("<%=  params[:system_message] %>");
            $('#system_dialog').dialog('open');
        <% end %>
    })
</script>