.rubrics {
  max-height:270px;
  overflow:auto;
  .row {
    margin-top: 5px;
    label {
      vertical-align: top;
      display: inline-block;
    }
    input[type='checkbox'] {
      margin: 0;
    }
  }
}