.admin_form {
  .form_column {
    float: left;
    .small-input {
      width: 95% !important;
    }
  }
  .form_column.one_of_three {
    width: 30%;
    margin-left: 2%;
  }
  .form_column.one_of_two {
    width: 47%;
    margin-left: 2%;
  }
}